.speakers {
  font-size: 1rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem 0 10rem;
  }

  &__speaker {
    margin-bottom: 3.875rem;
    max-width: 31.25rem;

    @include medium() {
      max-height: 40.75rem;
      width: 47%;

      &:nth-child(even) {
        margin-top: 25%;
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__media {
      height: 1.5rem;
      margin: 1.25rem 1.75rem 1.25rem 0;
      text-decoration: none;
      width: 1.5rem;

      svg {
        fill: $color-black;
        transition: fill .2s ease-in-out;
      }

      &:hover svg {
        fill: $color-red;
      }
    }
  }

  &__photo {
    display: flex;

    figure {
      margin: 0;
      position: relative;

      img {
        display: block;
        height: auto;
        max-width: 100%;
      }

      &::before {
        border: .0625rem solid $color-white;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        transition: border .4s ease;
        width: 100%;
        z-index: 1;
      }

      &:hover::before {
        @include medium() {
          border-width: 1rem;
        }

        @include large() {
          border-width: 1.56rem;
        }
      }
    }
  }

  &__description {
    margin-left: 3.25rem;

    &__name {
      font-size: 1.5em;
      letter-spacing: -.02em;
      margin-bottom: 0;
      margin-top: 1.625rem;

      &::before {
        background-color: $color-red;
        content: '';
        display: inline-block;
        height: .18rem;
        vertical-align: middle;
        width: 1.875rem;

        @include medium() {
          width: 2.125rem;
        }
      }
    }

    &__role {
      color: $color-gray;
      font-family: $font-secondary;
      font-style: italic;

      a {
        color: $color-blue;
        transition: color .2s;

        &:hover {
          color: darken($color-blue, 10);
        }
      }
    }

    &__subject {
      font-size: .875rem;
      line-height: 1.75;
    }
  }
}
