{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "./source/2018/gyn/stylesheets/_variables.scss",
    "./source/2018/gyn/stylesheets/_queries.scss",
    "./source/2018/gyn/stylesheets/site.css.scss",
    "./source/stylesheets/_variables.scss",
    "./source/stylesheets/_queries.scss",
    "./source/stylesheets/site.css.scss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/order": [
      [
        "custom-properties",
        "declarations"
      ]
    ],
    "order/properties-alphabetical-order": true,
    "unit-blacklist": [
      "px"
    ],
    "number-leading-zero": "never",
    "at-rule-no-unknown": [
      true,
      {
        ignoreAtRules: [
          "extend",
          "at-root",
          "warn",
          "error",
          "if",
          "else",
          "for",
          "each",
          "while",
          "mixin",
          "include",
          "content",
          "return",
          "function"
        ]
      }
    ]
  }
}
