*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: $color-white;
  color: $color-dark;
  font-family: $font-primary;
  font-size: $font-size-base;
  margin: 0;
}

.sr-only {
  font-size: 0;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}

.wrapper {
  margin: 0 auto;
  max-width: $wrapper-width;
  width: 90%;
}
