// Color Variables
$red-medium: rgba(163, 22, 33, 1);
$red-dark: rgba(130, 5, 36, 1);
$purple: rgba(36, 30, 78, 1);
$black: rgba(5, 5, 5, 1);
$white: rgba(254, 254, 255, 1);
$gray: #d0c4b8;

// Body Variables
$body-color: $black;
$body-bg: $white;

// Font Variables
$family-sans-serif: 'Open Sans', sans-serif;
$family-primary: $family-sans-serif;
$font-family-alt: 'Maven Pro', sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.5;

// Grid Variables
$gap: 0;

$primary: $red-medium;

$screen-md: 1024px;
$hover-opacity: .8;
