// Color Variables
$red-medium: #a21521;
$red-dark: #7f0524;
$purple: #251d4e;
$black: #050505;
$white: #ffffff;
$gray: #d0cb8;
$primary: $red-medium;

// Body Variables
$body-color: $black;
$body-bg: $white;

// Font Variables
$family-sans-serif: 'Open Sans', sans-serif;
$family-primary: $family-sans-serif;
$font-family-alt: 'Maven Pro', sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.5;

// Grid Variables
$gap: 0;

// Screen (Breakpoints)
$screen-md: 1024px;

// Components
$hover-opacity: .8;
