// colors
$color-white:      #ffffff;
$color-black:      #000000;
$color-gray:       #868686;
$color-dark:       #444349;
$color-light:      #f4f4f4;
$color-light-gray: #e6e6e6;
$color-dark-gray:  #3d3d3d;
$color-blue:       #356bf8;
$color-light-blue: #5efecb;
$color-red:        #d90845;

// fonts
$font-primary:   'Poppins', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$font-size-base: 16px;
$wrapper-width:  68.75rem;
