@import "../../node_modules/bulma/sass/utilities/all";
@import "../../node_modules/bulma/sass/grid/all";
@import "../../node_modules/bulma/sass/layout/all";

@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/elements/button";
@import "../../node_modules/bulma/sass/components/navbar";

@import "variables";
@import "general";

@import "elements/button";
@import "components/nav";
