<div class="counter" data-counter>
  <div class="counter__item counter__days">
    <span class="counter__label">Dias</span>
    <span class="counter__value" data-counter-days>00</span>
  </div>
  <div class="counter__item counter__hours">
    <span class="counter__label">Horas</span>
    <span class="counter__value" data-counter-hours>00</span>
  </div>
  <div class="counter__item counter__minutes">
    <span class="counter__label">Minutos</span>
    <span class="counter__value" data-counter-minutes>00</span>
  </div>
  <div class="counter__item counter__seconds">
    <span class="counter__label">Segundos</span>
    <span class="counter__value" data-counter-seconds>00</span>
  </div>
</div>
