<footer class="footer">
  <div class="footer__content wrapper">

    <div class="footer__column footer__column--insiter">
      <h2 class="footer__logo">Insiter</h2>

      <p>You inside the web.</p>
      <p>Endereço do Insiter Goiânia</p>
    </div>

    <div class="footer__column">
      <h5 class="footer__section-title">Useful Links</h5>
      <ul class="footer__useful-links">
        <li><a href="#" title="Codeminer 42">Codeminer 42</a></li>
        <li><a href="#" title="Edições passadas">Edições passadas</a></li>
        <li><a href="#" title="Próximas edições">Próximas edições</a></li>
      </ul>
    </div>

    <div class="footer__column footer__column--social">
      <h5 class="footer__section-title">Follow us</h5>
      <div class="footer__social-media">
        <a href="//facebook.com/InsiterConf" rel="external" title="Facebook">
          <%= partial 'partials/svg/footer/facebook' %>
        </a>
        <a href="//instagram.com/InsiterConf" rel="external" title="Instagram">
          <%= partial 'partials/svg/footer/instagram' %>
        </a>
        <a href="//twitter.com/InsiterConf" rel="external" title="Twitter">
          <%= partial 'partials/svg/footer/twitter' %>
        </a>
      </div>
    </div>

  </div>

  <div class="footer__powered">
    Powered by Codeminer 42
  </div>

</footer>
