<footer class="footer">
  <div class="footer__content">

    <div class="footer__column footer__column--insiter">
      <h2 class="footer__logo">Insiter<span>.</span></h2>
      <p>
        You inside the web.
        <br>
        Endereço do Insiter Goiânia
      </p>
    </div>

    <div class="footer__column">
      <h5 class="footer__section-title">Usefull Links</h5>
      <ul class="footer__usefull-links">
        <li><a href="#" title="Codeminer 42">Codeminer 42</a></li>
        <li><a href="#" title="Edições passadas">Edições passadas</a></li>
        <li><a href="#" title="Próximas edições">Próximas edições</a></li>
      </ul>
    </div>

    <div class="footer__column footer__column--social">
      <h5 class="footer__section-title">Follow us</h5>
      <div class="footer__social-media">
        <a href="#" title="Facebook"><%= partial 'partials/svg/logo-facebook' %></a>
        <a href="#" title="Instagram"><%= partial 'partials/svg/logo-instagram' %></a>
        <a href="#" title="Twitter"><%= partial 'partials/svg/logo-twitter' %></a>
      </div>
    </div>

  </div>

  <div class="footer__powered">
    Powered by Codeminer 42
  </div>

</footer>
