<footer class="footer">
  <a href="https://www.facebook.com/InsiterConf" title="Curta a página da Insiter no Facebook" target="_blank" class="footer-social">
    <svg xmlns="http://www.w3.org/2000/svg" class="footer-social-icon" viewBox="0 0 49.652 49.652"><path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zM31 25.7h-4.039v14.396h-5.985V25.7h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435.017v4.939h-3.219c-.524 0-1.269.262-1.269 1.386v2.99h4.56L31 25.7z"/></svg>
  </a>
   <a href="<%= data.site.tickets %>" title="Compre Seus tickets na Eventbrite" target="_blank" class="footer-social">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250.3125 250.3125" class="footer-social-icon"><path d="M81.7 195.5c-.25-.66-.34-33.04-.2-71.95 0 0 .2-47.7.26-70.75 0-1.8 2.53-4.8 2.53-4.8 1.4-2.64 4.48-6.52 6.87-8.62 7.66-6.75 8-6.8 53.44-6.5l40.3.23V64.06l-34.23.47-34.22.47-.26 16.63c-.15 9.15-.15 16.73 0 16.84.13.1 13.96.43 30.72.7l30.47.5.24 14.77c.15 8.12.15 14.86 0 14.97-.14.12-13.96.44-30.72.7l-30.47.5v33.76l35.42.25 35.4.25 1 2.57c1.38 3.5.34 12.56-1.94 17.02-2.47 4.85-7.9 9.2-13.57 10.9-6.4 1.9-90.32 2.06-91.05.16z" /></svg>
  </a>
  <a href="http://confcodeofconduct.com/index-pt-br.html" title="Veja o código de conduta" target="_blank" class="footer-conduct">Código de Conduta</a>
</footer>
