<footer class="footer">
  <div class="footer__content">

    <div class="footer__column footer__column--insiter">
      <h2 class="footer__logo">Insiter<span>.</span></h2>
      <p>
        You inside the web.
        <br>
        Endereço do Insiter Goiânia
      </p>
    </div>

    <div class="footer__column">
      <h5 class="footer__section-title">Usefull Links</h5>
      <ul class="footer__usefull-links">
        <li><a href="#">Codeminer 42</a></li>
        <li><a href="#">Edições passadas</a></li>
        <li><a href="#">Próximas edições</a></li>
      </ul>
    </div>

    <div class="footer__column footer__column--social">
      <h5 class="footer__section-title">Follow us</h5>
      <div class="footer__social-media">
        <a href="#"><%= partial 'partials/svg/logo-facebook' %></a>
        <a href="#"><%= partial 'partials/svg/logo-instagram' %></a>
        <a href="#"><%= partial 'partials/svg/logo-twitter' %></a>
      </div>
    </div>

  </div>

  <div class="footer__powered">
    Powered by Codeminer 42
  </div>

</footer>
