<header class="header" role="header">
  <h2 class="header-logo">
    <a href="/">Insiter</a>
  </h2>

  <!-- <nav class="navbar" role="navigation" aria-label="main navigation">
    <ul>
      <li>
        <a class="navbar-item" href="#" title="Sobre">Sobre</a>
      </li>
      <li>
        <a class="navbar-item" href="#" title="Palestrantes">Palestrantes</a>
      </li>
      <li>
        <a class="navbar-item" href="#" title="Programação">Programação</a>
      </li>
      <li>
        <a class="navbar-item" href="#" title="Local">Local</a>
      </li>
      <li>
        <a class="navbar-item" href="#" title="Patrocinadores">Patrocinadores</a>
      </li>
      <li>
        <a class="navbar-item" href="#" title="Parceiros">Parceiros</a>
      </li>
      <li>
        <a class="navbar-item" href="#" title="Tickets">Tickets</a>
      </li>
    </ul>
  </nav> -->
</header>
