<header class="header" role="header">
  <nav class="navbar container" role="navigation" aria-label="main navigation">
    <section class="navbar-menu columns">
      <div class="column">
        <a class="navbar-item" href="#" title="Sobre">Sobre</a>
      </div>
      <div class="column">
        <a class="navbar-item" href="#" title="Palestrantes">Palestrantes</a>
      </div>
      <div class="column">
        <a class="navbar-item" href="#" title="Programação">Programação</a>
      </div>
      <div class="column">
        <a class="navbar-item" href="#" title="Local">Local</a>
      </div>
      <div class="column">
        <a class="navbar-item" href="#" title="Patrocinadores">Patrocinadores</a>
      </div>
      <div class="column">
        <a class="navbar-item" href="#" title="Parceiros">Parceiros</a>
      </div>
      <div class="column">
        <a class="navbar-item" href="#" title="Tickets">Tickets</a>
      </div>
    </section>
  </nav>
</header>
