<header class="hero">

  <div class="hero__content wrapper">
    <div class="hero__info"><%= data.site.date %></div>

    <h1 class="hero__slogan">You Inside the web!</h1>

    <p class="hero__info hero__info--small">
      <strong>Teresina - Piauí</strong>
    </p>

    <!-- <a href="<%= data.site.tickets_url %>" class="hero__ticket" rel="external" target="_blank">
      Garantir meu ingresso
    </a> -->
  </div>
</header>
