<section class="hero">
  <div class="hero-container container">
    <%= image_tag 'logo.svg', class: 'hero-logo hero-reveal', alt: 'Insiter' %>
    <h1 class="sr-only">Insiter</h1>

    <p class="hero-description hero-reveal">
      Data X e Tal
    </p>

    <p class="hero-description hero-reveal">
      No lugar X e Tal
    </p>

    <a class="button hero-reveal" href="#">
      Pré Inscrições
    </a>
  </div>
</section>
