<section class="hero">
  <div class="hero-container container">
    <%= image_tag 'logo.svg', class: 'hero-logo', alt: 'Insiter' %>
    <h1 class="sr-only">Insiter</h1>

    <p class="hero-description">
      Data X e Tal
    </p>

    <p class="hero-description">
      No lugar X e Tal
    </p>

    <a class="button" href="#">
      Pré Inscrições
    </a>
  </div>
</section>
