<header class="hero">
  <h1 class="hero__logo">Insiter</h1>

  <div class="hero__geometrical-forms"></div>

  <div class="wrapper">
    <h2 class="hero__slogan title">You Inside the web</h2>

    <p class="hero__subject">
      Um evento criado para aproximar e inteirar a comunidade do que há de mais novo no mercado de trabalho.
    </p>

    <a href="<%= data.site.tickets_url %>" target="_blank" class="hero__ticket button">
      Garantir meu ingresso
    </a>

    <p class="hero__info">
      10_03_2018 <strong>Goiânia-Goiás</strong>
    </p>
  </div>
</header>
