<section class="hero">
  <div class="hero-container">
    <div class="hero-icons">
      <%= partial 'partials/hero_background' %>
    </div>
    <div class="hero-logo-container">
      <%= image_tag 'logo.svg', class: 'hero-logo hero-reveal', alt: 'Insiter' %>
    </div>
    <h1 class="sr-only">Insiter</h1>

    <div class="hero-description-container">
      <div class="hero-reveal">
        <h1 class="hero-description">02 de Dezembro</h1>
      </div>

      <div class="hero-reveal"><h2 class="hero-description">Auditório da Faculdade Senac Porto Alegre</h2></div>

      <div class="hero-button">
        <a class="button hero-reveal" href="<%= data.site.tickets_url %>" target="_blank">
          Vendas encerradas
        </a>
      </div>
    </div>
  </div>
</section>
