<div class="landing">
  <h2 class="landing__city">Goiânia</h2>

  <h1 class="logo">
    Insiter<span>.</span>
    <i class="logo__slogan">You Inside the Web</i>
  </h1>

  <a class="landing__powered" href="//codeminer42.com">
    by CodeMiner42
  </a>
</div>
