<section class="map">
  <div class="map__container" data-google-maps></div>
</section>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyARl8VHQAo2Ck_F5rP0NNkm4ChT2GEh3Eg', async: true %>
