<section id="location" class="section section__separator map">
  <div class="wrapper">
    <div class="section__title section__title--light">
      <h1><span>Localização</span></h1>
    </div>
    <div
      class="map__container"
      data-google-maps
      data-lat="-5.085822"
      data-lng="-42.818611">
    </div>
    <div class="map__info">
      <p>
        <%= data.site.venue_address %></br>
        <%= data.site.venue %> - <%= data.site.location %>
      </p>
    </div>
  </div>
</section>
