<nav class="navbar">
  <div class="wrapper">
    <div class="navbar__logo">Insiter</div>
    <!-- <ul class="navbar__list">
      <li class="navbar__item">
        <a href="#speakers">Palestrantes</a>
      </li>
      <li class="navbar__item">
        <a href="#schedule">Programação</a>
      </li>
      <li class="navbar__item">
        <a href="#sponsors">Patrocinadores</a>
      </li>
      <li class="navbar__item">
        <a href="#partners">Parceiros</a>
      </li>
      <li class="navbar__item">
        <a href="#location">Local</a>
      </li>
    </ul> -->
  </div>
</nav>
