<nav class="navbar" role="navigation" aria-label="main navigation">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="#" title="Sobre">Sobre</a>
    </li>
    <li class="navbar-item">
      <a href="#" title="Palestrantes">Palestrantes</a>
    </li>
    <li class="navbar-item">
      <a href="#" title="Programação">Programação</a>
    </li>
    <li class="navbar-item">
      <a href="#" title="Local">Local</a>
    </li>
    <li class="navbar-item">
      <a href="#" title="Patrocinadores">Patrocinadores</a>
    </li>
    <li class="navbar-item">
      <a href="#" title="Parceiros">Parceiros</a>
    </li>
    <li class="navbar-item">
      <a href="#" title="Tickets">Tickets</a>
    </li>
  </ul>
</nav>
