<nav class="navbar" role="navigation" aria-label="main navigation">
  <ul class="navbar-list">
    <%# <li class="navbar-item">
      <a href="#" title="Sobre">Sobre</a>
    </li> %>
    <li class="navbar-item">
      <a href="#speakers" title="Palestrantes">Palestrantes</a>
    </li>
    <li class="navbar-item">
      <a href="#schedule" title="Agenda">Agenda</a>
    </li>
    <%# <li class="navbar-item">
      <a href="#" title="Local">Local</a>
    </li> %>
    <%# <li class="navbar-item">
      <a href="#" title="Patrocinadores">Patrocinadores</a>
    </li> %>
    <li class="navbar-item">
      <a href="#presented" title="Realização">Realização</a>
    </li>
    <li class="navbar-item">
      <%= link_to 'Garanta Seu Ingresso', data.site.tickets, class: 'button' , title: 'Garanta seu ingresso'  %>
    </li>
  </ul>
</nav>
