<nav class="navbar">
  <input class="menu-input" type="checkbox" />
  <div class="menu-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="wrapper">
    <div class="navbar__logo">
      <a href="#"><%= image_tag 'logo.png', :alt => 'Insiter' %></a>
    </div>
    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="#location">Local</a>
      </li>
      <li class="navbar__item">
        <a href="#sponsor">Patrocinadores</a>
      </li>
    </ul>
  </div>
</nav>
