<section class="schedule">
  <div class="wrapper">
    <h3 class="title">Cronograma</h3>

    <table class="schedule__table">
      <tbody>
        <% data.schedule.talks.each do |speaker| %>
          <tr>
            <td><%= speaker.time %></td>
            <td>
              <% if speaker.people %>
                <strong><%= speaker.people %></strong>
                <p class="schedule__talk"><%= speaker.title %></p>
              <% else %>
                <p><%= speaker.title %></p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
