<section class="support">
  <div class="wrapper">
    <h3 class="title">Apoio</h3>

    <ul class="support__container">
      <% data.support.companies.each do |company| %>
        <li>
          <a href="<%= company.link %>" title="<%= company.name %>" rel="external" target="_blank">
            <%= image_tag company.logo, alt: company.name, title: company.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</section>
