.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 68px;
  height: 32px;
  padding: 0 .8em;
  background-color: $primary;
  border: 3px solid $primary;
  border-radius: 50vh;
  color: $white;
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: transparent;
    color: $primary;
  }
  &:active {
    background-color: transparent;
    border: 3px solid $primary;
    color: $primary;
  }
}
