.button {
  background: $color-blue;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: .87rem;
  font-weight: 700;
  padding: 1.5em 2em;
  text-decoration: none;
  text-transform: uppercase;
}
