.call-to-action {
  background-color: $color-red;
  margin: 0 auto;
  max-width: 15rem;
  transition: background-color .2s ease-in-out;

  a {
    align-items: center;
    color: $color-white;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    padding: .5rem;
    text-decoration: none;
    transition: color .2s ease-in-out;
  }

  @include large() {
    background-color: transparent;
    border: .3rem solid $color-red;

    &:hover {
      background-color: $color-red;
      cursor: pointer;

      a {
        color: $color-dark;
      }
    }
  }
}
