.container {
  margin: 0 auto;
  width: 96%;
  max-width: $screen-md;
  overflow: auto;

  @media screen and (min-width: $screen-lg) {
    max-width: 1278px;
  }

  @media screen and (min-width: $screen-uw) {
    max-width: 1400px;
  }
}
