.footer {
  background: $color-black;
  color: $color-white;
  font-size: .875rem;

  &__content {
    border-bottom: .0625rem solid $color-dark-gray;
    padding: 2em 0;

    a {
      color: $color-light-gray;
      transition: color .2s;

      &:hover {
        color: $color-white;
      }
    }

    address {
      font-style: normal;
    }

    @include large() {
      display: flex;
      justify-content: space-between;
    }
  }

  &__column {
    flex: 1;
    min-width: 10rem;

    &--about {
      flex: 3;

      p {
        margin: 0;
      }
    }

    &--social {
      max-width: 5rem;
    }
  }

  &__section-title {
    font-size: 1rem;
    margin: 1.625em 0;
  }

  &__logo {
    color: $color-white;
    font-family: $font-primary;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -.02em;
    margin-bottom: .3em;
    margin-top: 0;

    &::after {
      color: $color-red;
      content: '.';
      padding-left: .2em;
    }
  }

  &__useful-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__social-media {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;

    svg {
      transition: fill .2s;

      &:hover {
        fill: $color-white;
      }
    }
  }

  &__powered {
    display: block;
    margin: 0 auto;
    max-width: 14.0625rem;
    padding: 2rem;
    text-align: center;
    text-decoration: none;

    img {
      display: block;
      width: 100%;
    }
  }
}

