// ====================================================================
// Header
// ====================================================================

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 72px;
  padding-left: 12px;
  padding-right: 12px;
}

//
// Nav
// ====================================================================

.header .navbar {
  @include min-screen($screen-md) {
    display: inline-flex;
  }
}

//
// Toggle
// ====================================================================

.header-toggle {
  position: relative;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 54px;
  height: 100%;
  margin-right: -12px;
  padding: 0 15px;
  cursor: pointer;
  user-select: none;
  outline: none;
  overflow: hidden;

  @include min-screen($screen-md) {
    display: none;
  }
}

.header-toggle > span {
  display: none;
  display: inline-flex;
  width: 100%;
  height: 3px;
  background-color: $gray;
  border-radius: 3px;
  opacity: 1;
  transition: opacity .3s ease, transform .3s ease;

  &:nth-child(1) {
    transform-origin: top right;
  }

  &:nth-child(2) {
    height: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &:nth-child(3) {
    transform-origin: bottom right;
  }
}

.header-toggle:hover > span {
  opacity: $hover-opacity;
}

.header-toggle-visible > span {
  // &:nth-child(1) {
  //   transform: rotate(-45deg);
  // }

  // &:nth-child(2) {
  //   opacity: 0;
  // }

  // &:nth-child(3) {
  //   transform: rotate(45deg);
  // }
}
