.navbar {
  background-color: $color-white;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;

  @include medium() {
    height: 4.5rem;
  }

  &::after {
    @include section-separator(after, $color-white);
  }

  .wrapper {
    align-items: center;
    display: flex;
    justify-content: center;

    @include medium() {
      justify-content: space-between;
    }
  }

  &__logo {
    color: $color-red;
    font-size: 2.5rem;
    font-weight: 600;
    height: 3.5rem;
    margin-top: .5rem;

    @include medium() {
      font-size: 1.875rem;
    }

    img {
      height: 100%;
    }
  }

  &__list {
    display: none;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    @include medium() {
      display: flex;
    }

    li {
      cursor: pointer;
      margin-left: 1rem;
      position: relative;

      a {
        color: $color-dark;
        text-decoration: none;
      }

      &::after {
        background-color: $color-red;
        bottom: -.2rem;
        content: '';
        height: .2rem;
        left: 0;
        position: absolute;
        transition: width .2s ease-in-out;
        transition-delay: .1s;
        width: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
