// ====================================================================
// Nav
// ====================================================================

.navbar {
  display: none;
  width: 100%;
  margin-top: 72px;

  @include min-screen($screen-md) {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}

//
// NavList
// ====================================================================

.navbar-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @include min-screen($screen-md) {
    display: inline-block;
  }
}

//
// Item
// ====================================================================

.navbar-item {
  display: inline-flex;
  justify-content: center;

  & > a {
    position: relative;
    width: 100%;
    padding: 12px 16px;
    color: $primary;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    outline: none;
    opacity: 1;
    transition: opacity .2s ease-in-out;

    &:focus,
    &:hover {
      opacity: $hover-opacity;
    }
  }

  & > button {
    margin-left: 12px;
  }
}
