.schedule {
  background-color: $schedule-bg-color;
  padding-bottom: $section-bottom-padding;

  .heading {
    color: $schedule-heading-color;
  }
}

.schedule-list {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  position: relative;
  padding: 0;

  @media screen and(min-width: $screen-sm) {
    max-width: 800px;
    width: 100%;
  }

  .schedule-list-item {
    margin: 0 auto;
    position: relative;
    padding: 30px 0 30px 60px;

    @media screen and (min-width: $screen-sm) {
      padding-left: 100px;
      margin: 0 auto;
    }

    &:after {
      content: "";
      height: 100%;
      width: 2px;
      background-color: transparentize($schedule-main-color, 0.4);
      position: absolute;
      left: 30px;
      transform: translate3d(-50%, 0, 0);
      top: 0;
      display: block;
      z-index: 1;

      @media screen and (min-width: $screen-sm) {
        left: 50px;
      }
    }

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 30px;
      top: 40px;
      transform: translate3d(-50%, 0, 0);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #FFF;
      z-index: 2;

      @media screen and (min-width: $screen-sm) {
        top: 45px;
        left: 50px;
        width: 20px;
        height: 20px;
      }
    }

    &.is-live {
      &:before {
        background-color: $red-medium;
        box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 1);
      }
    }
  }

  .schedule-list-header {
    font-family: $family-secondary;
    font-weight: 700;
  }

  .schedule-list-time {
    font-size: 18px;
    color: #FFF;
    line-height: 1.5;
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.4em;

    @media screen and (min-width: $screen-sm) {
      font-size: 24px;
    }
  }

  .schedule-list-time-icon {
    width: 0.9em;
    height: 0.9em;
    display: inline-block;
    transform: translatey(0.1em)
  }

  .schedule-list-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8em;
    line-height: 1.2em;
    color: $schedule-main-color;
  }

  .schedule-list-subtitle {
    margin-top: 0;
    margin-bottom: 1.2em;
    font-size: 1.4em;
    font-weight: 400;
    color: $schedule-main-color;
  }

  .schedule-list-description {
    color: $schedule-main-color;
    font-size: 1.1em;

    @media screen and (min-width: $screen-sm) {
      font-size: 1.3em;
    }
  }
}
