.section {
  padding-top: 4rem;

  &__separator {
    &::after {
      background-color: $color-gray;
      bottom: -1rem;
      box-shadow: -.4375rem .4375rem 0 0 $color-dark;
      content: '';
      height: 2rem;
      left: 50%;
      position: absolute;
      transform: rotate(45deg);
      width: 2rem;
    }
  }

  &__title {
    position: relative;
    text-align: center;

    @include medium() {
      font-size: 1.2rem;
    }

    @include large() {
      font-size: 1.5rem;
    }

    &::after {
      background-color: $color-light-gray;
      content: '';
      height: .2rem;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%;
    }

    &--light span {
      background-color: $color-white;
    }

    &--dark span {
      background-color: $color-light;
    }

    span {
      padding: 0 2rem;
      position: relative;
      z-index: 1;
    }
  }

  &--padding-bottom {
    padding-bottom: 3rem;
  }

  &--dark {
    background-color: $color-light;
  }
}
