.speaker {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    flex-basis: 0;
    flex-grow: 1;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__position {
    font-size: .875rem;

    a {
      color: $color-dark-gray;
    }
  }

  &__social {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: .5rem;

    @include large() {
      height: 100%;
      left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      width: 100%;

      &--mobile {
        display: none;
      }
    }

    .icons {
      display: flex;
      justify-content: space-around;
      width: 8rem;

      a {
        text-decoration: none;
      }

      svg {
        cursor: pointer;
        fill: $color-dark;
      }

      @include large() {
        transition: visibility .1s ease-in-out;
        visibility: hidden;

        svg {
          padding: .5rem;
          transition:
            padding .3s ease-in-out,
            fill .2s ease-in-out;

          &:hover {
            fill: $color-red;
          }
        }
      }
    }
  }

  &__picture {
    align-items: center;
    background-color: rgba(230, 230, 230, 0);
    border: .375rem solid rgba(230, 230, 230, .7);
    display: flex;
    height: 20rem;
    margin: 1rem auto;
    overflow: hidden;
    position: relative;
    width: 20rem;

    img {
      width: 100%;
    }

    @include large() {
      transition: background-color .2s ease-in-out .3s;

      img {
        position: relative;
        transform: scale(1);
        transition:
          z-index 0s ease-in-out .5s,
          transform .3s ease-in-out;
        z-index: 0;
      }

      &:hover {
        background-color: rgba(230, 230, 230, .85);
        transition: background-color .2s ease-in-out .1s;

        img {
          transform: scale(1.1);
          transition:
            z-index 0s ease-in-out,
            transform .3s ease-in-out;
          z-index: -1;
        }

        .icons {
          transition: visibility .2s ease-in-out .3s;
          visibility: visible;

          svg {
            padding: 0;
            transition:
              padding .5s ease-in-out .1s,
              fill .2s ease-in-out;
          }
        }
      }
    }
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
