.speakers {
  border-top: 2px solid #e2e2e2;
}

.speaker-list {
  margin: 2em auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.speaker-item {
  flex: 1 0 20em;
  margin-bottom: 4em;
  text-align: center;

  &:nth-child(odd) {
    .speaker-avatar:before {
      border-color: $blue;
      border-radius: 50%;
    }

    img {
      border-radius: 50%;
    }
  }
}

.speaker-avatar {
  margin: 0 auto;
  width: 16em;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0.25em solid $green;
    border-radius: 0.25em;
    z-index: -1;
  }

  img {
    display: block;
    width: 100%;
    border-radius: 0.25em;
    transform: translate(1em, 1em);
  }
}

.speaker-name {
  font-family: $family-secondary;
  margin: 1em 1em 0;
  font-size: 1.4em;
  font-weight: 700;

  @media screen and (min-width: $screen-md) {
    font-size: 2em;
  }
}

.speaker-github {
  text-decoration: none;
  color: $red-medium;
  position: relative;
  display: inline-block;

  &:after {
    content: "";
    will-change: width;
    transition: width $transition-settings;
    width: 0;
    height: 2px;
    margin: 4px auto;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    display: inline-block;
    background-color: $red-dark;
  }

  &:hover {
    color: $red-dark;
    &:after {
      width: 101%;
    }
  }
}
