.title {
  font-size: 3.43em;
  margin: 0;
  padding-bottom: 1rem;
  position: relative;

  &::before {
    background-color: $color-blue;
    bottom: 0;
    content: '';
    height: .18rem;
    left: 0;
    position: absolute;
    width: 8rem;
  }

  &::after {
    color: $color-red;
    content: '.';
    padding-left: .5rem;
  }
}
