.title {
  font-size: 3.43em;
  margin: 0;
  padding-bottom: .4em;
  position: relative;

  &::before {
    background-color: $color-blue;
    bottom: 0;
    content: '';
    height: .05em;
    left: 0;
    position: absolute;
    width: 3em;
  }

  &::after {
    color: $color-red;
    content: '.';
    padding-left: .2em;
  }
}
