.hero {
  height: 100vh;
  text-align: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-logo {
  height: 300px;
}

.hero-description {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 600;
  color: $gray;
  text-transform: uppercase;
}
