.navbar {
  .column {
    text-align: center;
  }
}

.navbar-item {
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  font-family: $font-family-alt;
  text-transform: uppercase;
  display: inline-block;
  color: $red-medium;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $purple;
  }
}
