.landing {
  background: url(/images/xxx.png) no-repeat top right;
  background-size: 10em;
  display: flex;
  margin: auto;
  max-width: 64rem;
  min-height: 92vh;
  position: relative;
  width: 95%;

  @include large() {
    background-size: auto;
  }

  &__city {
    color: $color-red;
    font-size: 2rem;
    margin: 0;
    position: absolute;
    top: 36%;

    @include large() {
      font-size: 3rem;
      top: 22%;
    }

    &::before {
      content: '—';
      margin-right: .3em;
    }
  }

  &__powered {
    @extend .sr-only;

    background: url(/images/codeminer42.png) no-repeat;
    background-size: contain;
    bottom: 0;
    height: 3rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 13rem;
  }
}
