@mixin small() {
  $min: 425px;

  @media (min-width: $min) {
    @content;
  }
}

@mixin medium() {
  $min: 768px;

  @media (min-width: $min) {
    @content;
  }
}

@mixin large() {
  $min: 1024px;

  @media (min-width: $min) {
    @content;
  }
}
